<?xml version="1.0"?>
<robot name="D23_3">
  <link name="base_link">
    <inertial>
      <mass value="0.05883" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.0002" ixy="0.0"  ixz="0.0"  iyy="0.0002"  iyz="0.0" izz="0.0002" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../../../meshes/egad/train/D23_3.obj" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../../../meshes/egad/train/D23_3.obj" />
      </geometry>
    </collision>
  </link>
</robot>
