<?xml version="1.0"?>
<robot name="visible_collision_boundary">
  <material name="white">
    <color rgba="0.8 0.1 0.2 1.0"/>
  </material>
  <link name="base_link">
    <visual></visual>
    <!--visual>
      <origin xyz="0.375 0 0.5"/>
      <geometry>
	 			<box size=".05 1.2 1.0"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="-0.775 0 0.5"/>
      <geometry>
        <box size=".05 1.2 1.0"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="-0.2 -0.625 0.5"/>
      <geometry>
	 			<box size="1.1 .05 1.0"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="-0.2 0.625 0.5"/>
      <geometry>
	 			<box size="1.1 .05 1.0"/>
      </geometry>
      <material name="white"/>
    </visual-->
    <collision>
      <origin xyz="0.375 0 0.5"/>
      <geometry>
	 			<box size=".05 1.2 1.0"/>
      </geometry>
      <material name="white"/>
    </collision>
    <collision>
      <origin xyz="-0.775 0 0.5"/>
      <geometry>
        <box size=".05 1.2 1.0"/>
      </geometry>
      <material name="white"/>
    </collision>
    <collision>
      <origin xyz="-0.2 -0.625 0.5"/>
      <geometry>
	 			<box size="1.1 .05 1.0"/>
      </geometry>
      <material name="white"/>
    </collision>
    <collision>
      <origin xyz="-0.2 0.625 0.5"/>
      <geometry>
	 			<box size="1.1 .05 1.0"/>
      </geometry>
      <material name="white"/>
    </collision>
  </link>
</robot>
