<?xml version="1.0"?>
<robot name="easy_bin">
  <material name="white">
    <color rgba="0.1 0.1 0.2 1.0"/>
  </material>
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
	 			<box size=".4 .4 .0001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin rpy="0 1.0472 0" xyz="0.1997 0 0.024"/>
      <geometry>
	 			<box size=".015 .5 .125"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin rpy="0 -1.0472 0" xyz="-0.1997 0 0.024"/>
      <geometry>
	 			<box size=".015 .5 .125"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin rpy="1.0472 0 0" xyz="0 -0.1997 0.024"/>
      <geometry>
	 			<box size=".5 .015 .125"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin rpy="-1.0472 0 0" xyz="0 0.1997 0.024"/>
      <geometry>
	 			<box size=".5 .015 .125"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 1.0472 0" xyz="0.1997 0 0.024"/>
      <geometry>
	 			<box size=".015 .5 .125"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 -1.0472 0" xyz="-0.1997 0 0.024"/>
      <geometry>
	 			<box size=".015 .5 .125"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.0472 0 0" xyz="0 -0.1997 0.024"/>
      <geometry>
	 			<box size=".5 .015 .125"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-1.0472 0 0" xyz="0 0.1997 0.024"/>
      <geometry>
	 			<box size=".5 .015 .125"/>
      </geometry>
    </collision>
  </link>
</robot>
